<launch>
	<!-- <include file="$(find kuka_manager)/launch/iiwa_manager.launch"/> -->
	<include file="$(find openni2_launch)/launch/openni2.launch"/>
	<include file="$(find vrep_robot_commander)/launch/display.launch"/>
	<node name="ball_detector" pkg="pcl_detection" type="sphere_color_detection"/>
	<node name="ball_tracker" pkg="vrep_robot_commander" type="pbvs_sphere_tracker.py" output="screen" />
</launch>
